<#@ template language="C#"  hostspecific="true" #>

<#

    
  
  string [] files = System.IO.Directory.GetFiles(@"C:\Users\New Owner\Dropbox\Projects 2.0\Pawnfrog\Label Printing\QRCodes");
  
  foreach(string file in files)
  {
  System.IO.File.Move(file,file.Replace("httphttp54.152.6.96item",""));
  }
  
#>